html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body,
button,
a {
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.icon {
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 100;
}
.icon > span {
  font-weight: 700;
}

.btn {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  padding: 15px 60px;
  font-size: 12px;
  border: 1px solid #ffffff;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  letter-spacing: 1px;
  transition: letter-spacing 0.5s;
}
.btn:after {
  background: white;
  content: "";
  height: 155px;
  width: 55px;
  position: absolute;
  top: -70px;
  left: -75px;
  opacity: 0.2;
  transform: rotate(35deg);
  z-index: -1;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
  letter-spacing: 3px;
}
.btn:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn--navigate {
  border: 2px solid #ffffff;
  padding: 10px 15px;
  border-radius: 50%;
  position: absolute;
  top: 100px !important;
  margin-left: 20px;
}
.btn--navigate > ion-icon {
  font-size: 20px;
  font-weight: 700;
}
.btn--navigate:hover {
  background-color: #6d6d6d;
}
.btn--navigate:after {
  display: none;
}
.btn--navigate--right {
  right: 0px !important;
  margin-right: 20px;
}
.btn--black {
  color: #626262;
  border: 1px solid #626262;
}
.btn--black:after {
  background: black;
}

.divider {
  border-top: 1px solid #626262;
  width: 50px;
  height: 1px;
  margin: 0 auto;
}

.menu {
  background-color: #373c44;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 30px;
}
.menu__link {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.menu__hambuger {
  background-color: unset;
  border: none;
  color: white;
  font-size: 20px;
  display: none;
}
.menu--transparent {
  background-color: unset;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
}
.menu--transparent__hambuger {
  color: black;
}

.subcribe {
  background-color: #2a63c1;
  padding-top: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subcribe > .divider {
  border-top-color: white;
}
.subcribe__header {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 55px;
}
.subcribe__form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  margin-bottom: 90px;
}
.subcribe__input {
  border: none;
  text-align: center;
  padding: 25px 155px;
  background-color: inherit;
  border-bottom: 1px solid #ffffff;
  color: white;
  font-size: 20px;
}
.subcribe__input::placeholder {
  color: #829cd5;
  font-size: 26px;
}
.subcribe__input:focus {
  outline: none;
}
.subcribe__submit {
  border: none;
  color: #ffffff;
  background-color: #204b93;
  padding: 25px 250px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 24px;
}
.subcribe__submit:hover {
  background-color: #0a5be7;
}
.subcribe__list {
  margin-top: 80px;
  display: flex;
  gap: 0 85px;
  margin-bottom: 75px;
}
.subcribe__social-icon {
  color: white;
  font-size: 25px;
}
.subcribe__social-icon--rounded {
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 50%;
}

.testimonial {
  padding-top: 80px;
}
.testimonial__header {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #626262;
  margin-bottom: 50px;
}
.testimonial__description {
  font-size: 20px;
  font-weight: 400;
  color: #626262;
  text-align: center;
  max-width: 1070px;
  margin: 0 auto;
  margin-top: 110px;
  line-height: 2;
}
.testimonial__bold-text {
  text-align: center;
  margin-top: 95px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 155px;
}

.footer {
  color: #7c7e82;
  display: flex;
  background-color: #373c44;
  padding: 55px 0 55px 15%;
}
.footer .menu__list {
  margin-right: 18%;
}
.footer .menu__link {
  color: #aeb0b2;
}
.footer__email {
  margin-right: 4%;
}

@media only screen and (max-width: 1279px) {
  .footer > .menu__list {
    margin-right: unset;
  }
  .footer__email {
    margin-right: 10px;
  }

  .testimonial__description {
    padding: 0px 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .menu {
    padding: 10px 20px;
    justify-content: space-between;
  }
  .menu__hambuger {
    display: block;
  }
  .menu__list {
    display: none;
  }
  .menu__list--show {
    padding: 10px;
    background-color: #373c44;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menu__link--divider {
    display: none;
  }

  .footer {
    flex-direction: column;
    gap: 10px 0;
    align-items: center;
  }
  .footer > .menu__list {
    display: flex !important;
    flex-direction: column;
    gap: 10px 0;
  }
}
@media only screen and (max-width: 766px) {
  .subcribe__header {
    font-size: 20px;
    padding: 0px auto;
  }
  .subcribe__form {
    width: 80%;
  }
  .subcribe__input {
    padding: 15px 20px;
  }
  .subcribe__input::placeholder {
    font-size: 15px;
  }
  .subcribe__submit {
    padding: 15px 20px;
    font-size: 15px;
  }
  .subcribe__list {
    gap: 0px 20px;
  }
}
.container {
  padding: 120px 320px 0 300px;
}

.header__text {
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.categories {
  margin-top: 85px;
}
.categories__btn-list {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}
.categories__btn {
  min-width: 185px;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  transition: opacity 0.5s ease-in-out;
}
.categories__btn:hover {
  opacity: 0.5;
}
.categories__btn--black-text {
  color: #000000;
}
.categories__btn--white {
  background-color: #eaeaea;
}
.categories__btn--green {
  background-color: #00c59e;
}
.categories__btn--red {
  background-color: #df4343;
}
.categories__btn--green-deep {
  background-color: #64b341;
}
.categories__btn--purple {
  background-color: #874ab6;
}
.categories__btn--orange {
  background-color: #ffa200;
}
.categories__btn--blue {
  background-color: #2f84e5;
}
.categories__list {
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 40px 20px;
}
.categories__item__img {
  overflow: hidden;
}
.categories__item__img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease;
}
.categories__item__img img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
.categories__item h3 {
  margin-top: 40px;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
}
.categories__item h3:hover {
  opacity: 0.5;
}

.work-with-us {
  padding: 40px 0;
  text-align: center;
  color: white;
  background-color: #00c59e;
  font-size: 2em;
}

.popup {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup::-webkit-scrollbar {
  display: none;
}
.popup__content {
  width: 62%;
  margin: 0 auto;
  margin-top: 50px;
}
.popup__btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 60px;
  margin-bottom: 45px;
}
.popup__img {
  margin-right: 75px;
}
.popup__img img {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 1279px) {
  .popup__content {
    width: 80%;
    margin-top: 50px;
  }
  .popup__btn {
    font-size: 60px;
    margin-bottom: 0;
  }
  .popup__img {
    margin-right: 0;
  }
  .popup__img img {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .container {
    padding: 50px 50px 0 50px;
  }
}
@media only screen and (max-width: 766px) {
  .categories__btn-list {
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categories__list {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px 20px;
  }

  .popup__content {
    width: 80%;
    margin-top: 50px;
  }
  .popup__btn {
    font-size: 60px;
    padding: 0;
    margin-bottom: 0px;
  }
  .popup__img {
    margin-right: 0;
  }
  .popup__img img {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=works.css.map */
