* {
  box-sizing: border-box;
}

html,
body,
button,
a {
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.icon {
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 100;
}
.icon > span {
  font-weight: 700;
}

.btn {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  padding: 15px 60px;
  font-size: 12px;
  border: 1px solid #ffffff;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  letter-spacing: 1px;
  transition: letter-spacing 0.5s;
}
.btn:after {
  background: white;
  content: "";
  height: 155px;
  width: 55px;
  position: absolute;
  top: -70px;
  left: -75px;
  opacity: 0.2;
  transform: rotate(35deg);
  z-index: -1;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
  letter-spacing: 3px;
}
.btn:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn--navigate {
  border: 2px solid #ffffff;
  padding: 10px 15px;
  border-radius: 50%;
  position: absolute;
  top: 100px !important;
  margin-left: 20px;
}
.btn--navigate > ion-icon {
  font-size: 20px;
  font-weight: 700;
}
.btn--navigate:hover {
  background-color: #6d6d6d;
}
.btn--navigate:after {
  display: none;
}
.btn--navigate--right {
  right: 0px !important;
  margin-right: 20px;
}
.btn--black {
  color: #626262;
  border: 1px solid #626262;
}
.btn--black:after {
  background: black;
}

.divider {
  border-top: 1px solid #626262;
  width: 50px;
  height: 1px;
  margin: 0 auto;
}

.menu {
  background-color: #373c44;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 30px;
}
.menu__link {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.menu__hambuger {
  background-color: unset;
  border: none;
  color: white;
  font-size: 20px;
  display: none;
}
.menu--transparent {
  background-color: unset;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
}
.menu--transparent__hambuger {
  color: black;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 500px;
  padding-bottom: 330px;
}
.banner__content {
  padding: 0px 90px;
}
.banner__item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.banner__left {
  max-width: 500px;
  font-size: 78px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  line-height: 0.7;
}
.banner__left > span {
  font-size: 40px;
  font-weight: 400px;
}
.banner__right {
  max-width: 545px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__detail {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 45px;
}
.banner__divider {
  width: 55px;
  background-color: white;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.introduce {
  display: flex;
}
.introduce__img, .introduce__content {
  width: 50%;
}
.introduce__content {
  padding: 158px 116px 123px 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.introduce__header {
  font-size: 40px;
  color: #3c2839;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 56px;
}
.introduce__description {
  font-size: 16px;
  color: #626262;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 50px;
}
.introduce__divider {
  margin-bottom: 55px;
}
.introduce__btn {
  margin: 0 auto;
}

.feature-work {
  display: flex;
  padding-bottom: 90px;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}
.feature-work__header {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 110px;
  margin-bottom: 50px;
}
.feature-work__divider {
  margin-bottom: 60px;
}
.feature-work__list {
  list-style: none;
  display: flex;
  margin-bottom: 30px;
}
.feature-work__item-dot {
  border: 1px solid #878787;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 30px;
  cursor: pointer;
}
.feature-work__item-dot--active {
  background-color: #aeaeae;
}
.feature-work__img {
  display: block;
  margin: 0 auto;
  width: 80% !important;
  max-height: 800px;
  object-fit: cover;
  margin-bottom: 50px;
}

.active > .feature-work__item-dot {
  background-color: #aeaeae;
}

.services {
  padding-top: 85px;
}
.services--header {
  font-size: 40px;
  color: #3c2839;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}
.services > .divider {
  margin-bottom: 80px;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
}
.services__item {
  width: 33.3333333333%;
  display: flex;
}
.services__item--reverse {
  flex-direction: row-reverse;
}
.services__item--green {
  color: #64b341;
}
.services__item--green-shape {
  color: #00c59e;
}
.services__item--purple {
  color: purple;
}
.services__item--red {
  color: red;
}
.services__item--orange {
  color: orange;
}
.services__item--blue {
  color: #2f84e5;
}
.services__item__img, .services__item__description {
  width: 50%;
}
.services__item__img {
  object-fit: cover;
  height: 440px;
}
.services__item__description {
  position: relative;
  background-color: currentColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__item__description > h3 {
  color: white;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.5;
  max-width: 170px;
  text-align: center;
}
.services__item__description > .divider {
  border-color: white;
}
.services__item__description--arrow-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  border-top: 12px solid transparent;
  border-right: 25px solid currentColor;
  border-bottom: 12px solid transparent;
}
.services__item__description--arrow-right::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  border-top: 12px solid transparent;
  border-left: 25px solid currentColor;
  border-bottom: 12px solid transparent;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/photos/young-woman-in-blue-warm-sweater-sitting-near-the-big-window-of-shop-picture-id1280254514?b=1&k=20&m=1280254514&s=170667a&w=0&h=fxbbAOZYDAWLuZZtxZ2RGHJFYJG3pquYSGm4rnjIZDc=");
  background-size: cover;
  background-repeat: no-repeat;
}
.about-us__heading {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 35px;
}
.about-us__description {
  max-width: 1070px;
  text-align: center;
  margin-bottom: 35px;
}
.about-us > .divider {
  border-color: white;
}
.about-us__list {
  padding-top: 50px;
  display: flex;
}
.about-us__item {
  border: 1px solid #ffffff;
  margin-right: 50px;
}
.about-us__item__img {
  width: 355px;
  height: 250px;
  object-fit: cover;
}
.about-us__item__footer > h3 {
  text-align: center;
  padding-top: 5px;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.about-us__item__list-icon {
  padding: 15px 75px;
  display: flex;
  justify-content: space-between;
}
.about-us__item__icon {
  font-size: 1.5rem;
  color: white;
}

.testimonial {
  padding-top: 80px;
}
.testimonial__header {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #626262;
  margin-bottom: 50px;
}
.testimonial__description {
  font-size: 20px;
  font-weight: 400;
  color: #626262;
  text-align: center;
  max-width: 1070px;
  margin: 0 auto;
  margin-top: 110px;
  line-height: 2;
}
.testimonial__bold-text {
  text-align: center;
  margin-top: 95px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 155px;
}

.subcribe {
  background-color: #2a63c1;
  padding-top: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subcribe > .divider {
  border-top-color: white;
}
.subcribe__header {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 55px;
}
.subcribe__form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  margin-bottom: 90px;
}
.subcribe__input {
  border: none;
  text-align: center;
  padding: 25px 155px;
  background-color: inherit;
  border-bottom: 1px solid #ffffff;
  color: white;
  font-size: 20px;
}
.subcribe__input::placeholder {
  color: #829cd5;
  font-size: 26px;
}
.subcribe__input:focus {
  outline: none;
}
.subcribe__submit {
  border: none;
  color: #ffffff;
  background-color: #204b93;
  padding: 25px 250px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 24px;
}
.subcribe__submit:hover {
  background-color: #0a5be7;
}
.subcribe__list {
  margin-top: 80px;
  display: flex;
  gap: 0 85px;
  margin-bottom: 75px;
}
.subcribe__social-icon {
  color: white;
  font-size: 25px;
}
.subcribe__social-icon--rounded {
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 50%;
}

.footer {
  color: #7c7e82;
  display: flex;
  background-color: #373c44;
  padding: 55px 0 55px 15%;
}
.footer .menu__list {
  margin-right: 18%;
}
.footer .menu__link {
  color: #aeb0b2;
}
.footer__email {
  margin-right: 4%;
}

@media only screen and (max-width: 1919px) {
  .btn--navigate {
    margin-left: -80px;
  }
  .btn--navigate--right {
    margin-right: -80px;
  }
}
@media only screen and (max-width: 1279px) {
  .banner__left {
    font-size: 50px;
  }

  .introduce__content {
    padding: 100px 50px;
  }

  .feature-work__img {
    width: 100%;
    padding: 20px;
  }

  .services__item {
    width: 100%;
  }

  .about-us__description {
    max-width: unset;
  }
  .about-us__list {
    padding: 50px;
    flex-wrap: wrap;
    gap: 50px 0px;
  }

  .testimonial__description {
    padding: 0px 20px;
  }

  .footer > .menu__list {
    margin-right: unset;
  }
  .footer__email {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 1023px) {
  .menu {
    padding: 10px 20px;
    justify-content: space-between;
  }
  .menu__hambuger {
    display: block;
  }
  .menu__list {
    display: none;
  }
  .menu__list--show {
    padding: 10px;
    background-color: #373c44;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .banner {
    display: none;
  }

  .introduce__img {
    object-fit: cover;
  }

  .about-us__list {
    justify-content: center;
    padding: 0;
  }
  .about-us__item {
    margin-right: unset;
  }
  .about-us__item__img {
    width: 100%;
    height: unset;
  }

  .footer {
    flex-direction: column;
    gap: 10px 0;
    align-items: center;
  }
  .footer > .menu__list {
    display: flex !important;
    flex-direction: column;
    gap: 10px 0;
  }
}
@media only screen and (max-width: 766px) {
  .introduce {
    flex-wrap: wrap;
  }
  .introduce__img, .introduce__content {
    width: 100%;
  }

  .feature-work__header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .feature-work__divider {
    margin-bottom: 20px;
  }
  .feature-work__list {
    margin-bottom: 20px;
  }
  .feature-work__item-dot, .feature-work__item-dot--active {
    width: 10px;
    height: 10px;
  }
  .feature-work__img {
    height: 300px;
  }

  .services__item__img {
    height: 240px;
  }
  .services__item__description > h3 {
    font-size: 1.5rem;
    max-width: unset;
  }

  .about-us__description {
    padding: 10px;
  }

  .subcribe__header {
    font-size: 20px;
    padding: 0px auto;
  }
  .subcribe__form {
    width: 80%;
  }
  .subcribe__input {
    padding: 15px 20px;
  }
  .subcribe__input::placeholder {
    font-size: 15px;
  }
  .subcribe__submit {
    padding: 15px 20px;
    font-size: 15px;
  }
  .subcribe__list {
    gap: 0px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
